<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Marcelo Gallardo</title>
</head>

<body>

    <header>
        <div class="nombrePagina">
            <h1>HÉROES DE MADRID</h1>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/gallardo">Gallardo</a></li>
            <li><a href="/martinez">Martinez</a></li>
            <li><a href="/pratto">Pratto</a></li>
            <li><a href="/quintero">Quintero</a></li>
        </ul>
    </nav>
    <div class='menuHorizontal'></div>

    <br>
    <h1>Marcelo "El Muñeco" Gallardo</h1>
    <section>
        <p>Gallardo, de 42 años, se formó y jugó en River durante tres etapas (1992-2000, 2003-2006 y 2009-2010). Ganó
            seis campeonatos argentinos, una Copa Libertadores (1996) y una Supercopa Sudamericana (1997).

            Como DT tomó las riendas del club de sus amores en junio de 2014 tras la ida de Ramón Díaz, el técnico más
            ganador de la historia riverplatense, y propició una revolución futbolística que dio sus primeros frutos
            cuando ganó la Copa Sudamericana ese mismo año, el primer título internacional de River tras 17 años de
            sequía.

            "El Muñeco" guió a River Plate de Argentina al título de la copa Libertadores 2018 frente a Boca Juniors,
            convirtiéndose en el más exitoso técnico en la historia del millonario.</p>
        <div>
            <img src="./img/gallardo.jpg" alt="Gallardo" width="480">
        </div>
    </section>
</body>

</html>