<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Heroes de Madrid</title>
</head>

<body>

    <header>
        <div class="nombrePagina">
            <h1>HÉROES DE MADRID</h1>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/gallardo">Gallardo</a></li>
            <li><a href="/martinez">Martinez</a></li>
            <li><a href="/pratto">Pratto</a></li>
            <li><a href="/quintero">Quintero</a></li>
        </ul>
    </nav>
    <div class='menuHorizontal'></div>
    <br>


    <section>
        <h3>
            <p>
                Será eterna. Será inolvidable. Será para toda la vida. Y para todos los días. Porque la histórica final
                de
                la Copa Libertadores 2018 que River le ganó a Boca en el Santiago Bernabéu es un triunfo que se goza
                todos
                los días, que nunca pierde vigencia. Es la carta que le pone fin a cualquier discusión porque no habrá
                nada
                igual a ese 9 de diciembre de 2018. Será imposible que se repitan la cantidad de condimentos que tuvo
                aquella definición que quedó en manos del equipo de <a color: href="/gallardo">Marcelo Gallardo</a>.
            </p>
        </h3>
    </section>

    <main>
        <iframe width="595" height="334,5" src="https://www.youtube.com/embed/0l1-kgE0jx0" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </main>

</body>

</html>