<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Gonzalo Martinez</title>
</head>

<body>

    <header>
        <div class="nombrePagina">
            <h1>HÉROES DE MADRID</h1>
        </div>
    </header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/gallardo">Gallardo</a></li>
                <li><a href="/martinez">Martinez</a></li>
                <li><a href="/pratto">Pratto</a></li>
                <li><a href="/quintero">Quintero</a></li>
            </ul>
        </nav>
        <div class='menuHorizontal'></div>
    <br>
    <h1>Gonzalo "El Pity" Martinez</h1>

    <section>
        <p>De cara a la temporada 2015, Marcelo Gallardo solicitó su incorporación para reforzar a River Plate en los
            aspectos ofensivos y creativos.​ El 20 de enero de 2015 se oficializa su contratación, a cambio de U$S 4
            500 000 por el 75 % de su pase.
            Fue una de las figuras en la consagración de River en la Copa Libertadores 2018. Marcó un gol de penal
            decisivo para eliminar a Gremio en Brasil, en las semifinales. El 9 de diciembre de 2018 convertiría el
            tercer tanto en la final de la Conmebol Libertadores frente a Boca Juniors</p>
    </section>

    <div>
        <img src="./img/martinez.jpg" alt="Pity" width="480">
    </div>
</body>

</html>