<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Lucas Pratto</title>
</head>

<body>

    <header>
        <div class="nombrePagina">
            <h1>HÉROES DE MADRID</h1>
        </div>
    </header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/gallardo">Gallardo</a></li>
                <li><a href="/martinez">Martinez</a></li>
                <li><a href="/pratto">Pratto</a></li>
                <li><a href="/quintero">Quintero</a></li>
            </ul>
        </nav>
        <div class='menuHorizontal'></div>

    <br>
    <h1>Lucas Pratto</h1>

    <section>
        <p> A principio del mes de enero del 2018 River acordó con São Paulo pagar por el fichaje del delantero 10,8
            millones de dólares más un plus por objetivos que rondaría los dos millones de dólares, convirtiéndose así
            en la compra más cara de la historia de la institución. No obstante, Pratto se encargaría de dejar esa
            abultada cifra en el olvido, gracias a su rendimiento en el equipo.

            En la Copa Libertadores de América de ese mismo año sería fundamental convirtiendo en las instancias finales
            y en la Gran Final ante Boca Juniors, su exequipo y máximo rival de River. Donde en la ida, marca el empate
            1 a 1 tras un pase de media cancha del <a href="/martinez">Pity Martínez</a> ni bien river sacó del medio;
            en la vuelta, convirtió el empate transitorio (1-1) nuevamente, consagrándose campeón del título por 3-1.
        </p>
    </section>

    <div>
        <img src="./img/pratto.jpg" alt="Oso" width="480">
    </div>
</body>

</html>