<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Juan Fernando Quintero</title>
</head>

<body>

    <header>
        <div class="nombrePagina">
            <h1>HÉROES DE MADRID</h1>
        </div>
    </header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/gallardo">Gallardo</a></li>
                <li><a href="/martinez">Martinez</a></li>
                <li><a href="/pratto">Pratto</a></li>
                <li><a href="/quintero">Quintero</a></li>
            </ul>
        </nav>
        <div class='menuHorizontal'></div>

    <br>
    <h1>Juan Fernando Quintero</h1>

    <section>
        <p> El 24 de enero de 2018 es presentado como nuevo jugador de River Plate proveniente del FC Oporto a préstamo
            por un año y con una opción de compra de 3.500.000 euros.​ Debuta el 3 de febrero jugando los últimos 26
            minutos en la victoria 2-0 sobre Club Olimpo. El 22 de abril marcó su primer gol en la victoria 0-3 sobre
            Arsenal Fútbol Club. Sus grandes actuaciones en el conjunto "millonario" lo llevaron nuevamente a la
            Selección de fútbol de Colombia, dónde disputó la Copa Mundial de Fútbol de 2018. El 2 de octubre de 2018
            convirtió su primer gol en la Copa Libertadores en la victoria 3-1 frente a Club Atlético Independiente de
            local, sellando su clasificación a semifinal.
            El 9 de diciembre se consagró campeón de la Copa Libertadores 2018 y fue la gran figura de la final contra
            Boca Juniors tras ingresar en el segundo tiempo desde el banco de suplentes, Juan Fernando marcaría el 2-1
            en tiempo suplementario y dio la asistencia para el 3-1 definitivo.</p>
    </section>

    <div>
        <img src="./img/quintero.jpg" alt="Juanfer" width="480">
    </div>

</body>

</html>